<footer class="footer">
  <div class="container">
    <div class="footer-container">
      <div class="footer-top">
        <div class="footer-top-container">
          <div class="footer-logo">
            <a href="" class="footer-logo-link logo-link">
              <svg class="logo-icon">
                <use
                  href="../img/icons/icons.svg#logo-icon"
                  width="32"
                  height="32"
                ></use>
              </svg>
              CUCINA
            </a>
          </div>
          <nav class="footer-menu">
            <ul class="footer-menu-list">
              <li class="footer-menu-item">
                <a href="" class="footer-menu-link">Home</a>
              </li>
              <li class="footer-menu-item">
                <a href="" class="footer-menu-link">Store</a>
              </li>
              <li class="footer-menu-item">
                <a href="" class="footer-menu-link">Recipes</a>
              </li>
              <li class="footer-menu-item">
                <a href="" class="footer-menu-link">Gallery</a>
              </li>
            </ul>
          </nav>
          <address>
            <ul class="footer-addres-list">
              <li class="footer-addres-item">
                <a href="" class="footer-addres-link">
                  <svg class="adress-icon">
                    <use href="../img/icons/icons.svg#location-icon"></use>
                  </svg>
                  Elvia Elviaveien 1, 1234 Oslo
                </a>
              </li>
              <li class="footer-addres-item">
                <a
                  href="mailto:willie.jennings@example.com"
                  class="footer-addres-link"
                >
                  <svg class="adress-icon">
                    <use href="../img/icons/icons.svg#email-icon"></use>
                  </svg>
                  willie.jennings@example.com
                </a>
              </li>
            </ul>
          </address>
        </div>
        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a href="" class="footer-social-link">
              <svg class="social-icon">
                <use href="../img/icons/icons.svg#tumblr-icon"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a href="" class="footer-social-link">
              <svg class="social-icon">
                <use href="../img/icons/icons.svg#instagram-icon"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a href="" class="footer-social-link">
              <svg class="social-icon">
                <use href="../img/icons/icons.svg#youtube-icon"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a href="" class="footer-social-link">
              <svg class="social-icon">
                <use href="../img/icons/icons.svg#twitter-icon"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-bottom">
        <p class="footer-privacy">
          By using this website, you agree to the
          <a href="" class="privacy-link">Terms of Service</a> and
          <a href="" class="privacy-link">Privacy Policy</a>
        </p>
      </div>
    </div>
  </div>
</footer>
