<header class="header">
  <div class="container">
    <div class="header-container">
      <a href="" class="header-logo-link logo-link">
        <svg class="logo-icon">
          <use
            href="./img/icons/icons.svg#logo-icon"
            width="32"
            height="32"
          ></use>
        </svg>
        CUCINA
      </a>
      <button type="button" class="header-burger" id="header-burger">
        <span></span>
      </button>
      <div class="header-menu">
        <nav>
          <ul class="header-menu-list">
            <li class="header-menu-item">
              <a href="" class="heder-menu-link">Home</a>
            </li>
            <li class="header-menu-item">
              <a href="" class="heder-menu-link">Store</a>
            </li>
            <li class="header-menu-item">
              <a href="" class="heder-menu-link">Recipes</a>
            </li>
            <li class="header-menu-item">
              <a href="" class="heder-menu-link">Gallery</a>
            </li>
          </ul>
        </nav>
        <button type="button" class="header-button">Contact us</button>
      </div>
    </div>
  </div>
</header>
