<section class="hero">
  <div class="container hero-wraper">
    <div class="hero-container">
      <!-- <div class="title-container"> -->
      <h1 class="hero-title title1">CUCINA DI CATHERINA</h1>
      <p class="hero-text">
        We know, <br />
        you will <span>love</span> our product
      </p>
      <svg class="mobile-background-img">
        <use href="/img/hero/Frame74.svg#onion-icon"></use>
      </svg>
      <!-- </div> -->
      <!-- <div class="hero-img-container"> -->
      <img class="hero-img" src="/img/hero/ketchup-mob.png" alt="Image" />
      <!-- </div> -->
      <button class="hero-button" type="button">Buy now</button>
      <div class="hero-fact">
        <p class="hero-fact-text">
          <span class="fact-text-span">14</span>different tastes
        </p>
        <span class="text-divider"></span>
        <p class="hero-fact-text">
          <span class="fact-text-span">31</span>factories around the world
        </p>
      </div>
    </div>
    <ul class="hero-social-list">
      <li class="hero-social-item">
        <a href="" class="hero-social-link">
          <svg class="social-icon">
            <use href="/img/icons/icons.svg#tumblr-icon"></use>
          </svg>
        </a>
      </li>
      <li class="hero-social-item">
        <a href="" class="hero-social-link">
          <svg class="social-icon">
            <use href="/img/icons/icons.svg#instagram-icon"></use>
          </svg>
        </a>
      </li>
      <li class="hero-social-item">
        <a href="" class="hero-social-link">
          <svg class="social-icon">
            <use href="/img/icons/icons.svg#youtube-icon"></use>
          </svg>
        </a>
      </li>
      <li class="hero-social-item">
        <a href="" class="hero-social-link">
          <svg class="social-icon">
            <use href="/img/icons/icons.svg#twitter-icon"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
