<section class="bay">
  <div class="container">
    <div class="swiper bayswiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="/img/section_bay/tomat.webp" alt="" class="item-img" />
          <div class="item-text">
            <h2 class="item-title">Classic sauce</h2>
            <button type="button" class="item-button">Buy now</button>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="/img/section_bay/papper.webp" alt="" class="item-img" />
          <div class="item-text">
            <h2 class="item-title">Spicy sauce</h2>
            <button type="button" class="item-button">Buy now</button>
          </div>
        </div>
        <div class="swiper-slide">
          <img
            src="/img/section_bay/ketchup_white_cup.webp"
            alt=""
            class="item-img"
          />
          <div class="item-text">
            <h2 class="item-title">Classic sauce</h2>
            <button type="button" class="item-button">Buy now</button>
          </div>
        </div>
        <div class="swiper-slide">
          <img
            src="/img/section_bay/ketchup_papper_stone.webp"
            alt=""
            class="item-img"
          />
          <div class="item-text">
            <h2 class="item-title">Spicy sauce</h2>
            <button type="button" class="item-button">Buy now</button>
          </div>
        </div>
        <div class="swiper-slide">
          <img
            src="/img/section_bay/ketchup_board.webp"
            alt=""
            class="item-img"
          />
          <div class="item-text">
            <h2 class="item-title">Classic sauce</h2>
            <button type="button" class="item-button">Buy now</button>
          </div>
        </div>
        <div class="swiper-slide">
          <img
            src="/img/section_bay/ketchup_chilli_garlic.webp"
            alt=""
            class="item-img"
          />
          <div class="item-text">
            <h2 class="item-title">Spicy sauce</h2>
            <button type="button" class="item-button">Buy now</button>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
